.boxInteraction {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subBoxInteraction {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.countInteraction {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.iconHeartOpen {
  cursor: pointer;
}

.iconHeartOpen:hover {
  scale: 1.03;
}

.iconHeartClose {
  color: red;
  cursor: pointer;
}

.iconHeartClose:hover {
  scale: 1.06;
}

@media screen and (max-width: 900px) {
  .boxInteraction {
    padding-left: 0;
  }
}
