.playerBox {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
}

.subPlayerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.subPlayerBox p {
    display: grid;
    place-content: center;
}

.subPlayerBox:hover {
    background: #d1d1d1;
    border-radius: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: 1px solid #bcbcbc;
}

.boxIcon {
    display: grid;
    place-content: center;
}

.icon {
    cursor: pointer;
}