.RouteContainer {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.boxPreviewMap {
    flex-basis: 400px;
    flex-grow: 1;
}

.formChangeRoute {
    flex-basis: 400px;
    flex-grow: 1;
}