.zoneInteractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  grid-area: body;
  /* max-height: 100dvh;
    overflow: scroll; */
  /* scrollbar-width: none;  */
}

.cardPost {
  width: 90%;
  padding: 10px;
  margin-left: 5%;
  padding-bottom: 2em;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 2em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.headerPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ContentPost {
  margin-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.boxUser {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.avatarUser {
  display: grid;
  place-content: center;
}

.nameUser {
  font-weight: 700;
  display: grid;
  place-content: center;
}

.username {
  display: grid;
  place-content: center;
}

.boxImagesPost {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

.centerImages {
  padding-left: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imgPost {
  width: 300px;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.boxIconComment {
  display: grid;
  place-content: center;
}

.commentsBtn {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 900px) {
  .ContentPost {
    padding-left: 0px;
    padding-left: 0px;
  }

  .centerImages {
    padding-left: 0px;
  }
}
