.prevStream {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3em;
}

.boxLiveStream {
  flex-basis: 400px;
  flex-grow: 1;
}

.cenetrInfoLiveStream {
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;
}

.btnOpcLive {
  display: grid;
  place-content: center;
}

.infoLiveStream {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.opcCopyDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  word-wrap: break-word;
  width: 100%;
}

.opcCopyDetails p {
  word-wrap: break-word;
}

.titleInfo {
  display: grid;
  place-content: center;
}

.boxIconCopy {
  display: grid;
  place-content: center;
}

.historyTitle {
  width: 90%;
  margin-left: 5%;
  margin-top: 3em;
}

.cardAssets {
  display: flex;
  flex-direction: column;
}

.detailsTexts {
  width: 100%;
  word-wrap: break-word;
}

.videoContenedor {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.historyAssets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 20px;
  width: 90%;
  margin-left: 5%;
  margin-top: 3em;
}
