.form {
  margin-top: 10px;
  min-width: 300px;
  padding: 20px;
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 1em;
}

.infoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.input {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid #000;
  outline: none;
}

.btnSubmit {
  display: grid;
  place-content: center;
  margin-top: 10px;
}

.btnSubmit button {
  background: #5ce05c;
  border: none;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
  cursor: pointer;
  color: #fff;
}

.btnSubmit button:hover {
  background: #46d146;
}

.boxIcons {
  display: grid;
  place-content: center;
}

.centerIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  color: #464646;
}

.loginMessage {
  color: #464646;
  text-align: center;
  margin-top: 5px;
  display: grid;
  place-content: center;
}


.inputImg {
  margin-top: 10px;
}