.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 90%;
  margin-left: 5%;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  border-radius: 1em;
}

.headerLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 1em;
}

.headerLogin p {
  display: grid;
  place-content: center;
}

.boxImageLogo {
  display: grid;
  place-content: center;
}

.logoIcon {
  width: 40px;
  height: auto;
}

.optionAccess {
  display: grid;
  place-content: center;
}

.btnsCenter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnInit {
  padding: 10px;
  cursor: pointer;
}

.btnInitSelected {
  background: #f0f0f0;
  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: 1em;
  cursor: pointer;
}

.btnregister {
  padding: 10px;
  cursor: pointer;
}

.btnregisterSelected {
  padding: 10px;
  cursor: pointer;
  background: #f0f0f0;
  display: grid;
  place-content: center;
  border-radius: 1em;
}
