.titleGenerate {
  width: 90%;
  margin-left: 5%;
  font-weight: 500;
  color: #3f3faa;
}

.formPrompt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 1em;
  gap: 10px;
}

.BasePrompt {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
}

.BasePrompt textarea {
  width: 90%;
  outline: none;
  border: none;
  background: #e4e4e4;
  padding: 10px;
  border-radius: 10px;
  color: black;
  resize: none;
  form-sizing: content;
  font-weight: 500;
}

.boxIconGPT {
  display: grid;
  place-content: center;
}

.iconIA {
  width: 30px;
  height: auto;
  filter: drop-shadow(5px, 10px #fff);
}

.btnGenerate {
  display: grid;
  place-content: center;
}

.btnGenerate button {
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
}
