.infoContainer {
  width: 90%;
  margin-left: 5%;
}

.boxCurrentLocation {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxSpinner {
  display: grid;
  place-content: center;
}

.iconSpinner {
  animation: spin 1s linear infinite;
}

.boxProperty {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxesInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleInfo {
  display: grid;
  place-content: center;
}

.titleInfoBitacora {
  margin-top: 1em;
}

.boxProperty p {
  display: grid;
  place-content: center;
}

.boxIcon {
  display: grid;
  place-content: center;
}

.icon {
  color: #bcbcbc;
}

.bitacoraContainer {
  background: #5a5a5a;
  height: 30vh;
  overflow: scroll;
  padding: 10px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 3em;
  margin-top: 1em;
}

.cardBitacora {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* padding: 5px 10px 5px 10px; */
  padding: 10px;
  background: #2a2a2a;
  border-radius: 1em;
}

.cardBitacora:hover {
  scale: 1.01;
}

.boxImage {
  flex-basis: 200px;
  flex-grow: 1;
}

.boxDetails {
  flex-basis: 200px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.boxImage {
  display: grid;
  place-content: center;
  padding: 5px 10px 5px 10px;
}

.imgBitacora {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.bitacoraContent {
  display: grid;
  place-content: center;
  padding: 5px 10px 5px 10px;
}

.dateBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subDate {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 5px 10px 5px 10px;
}

.subDate p {
  font-size: 12px;
}

.dateIcon {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 800px) {
  .bitacoraContainer {
    height: 51vh;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
