.boxComment {
  display: flex;
  flex-direction: row;
  position:static;
  bottom: 0;
  gap: 10px;
  /* background: #000; */
  margin-top: 10px;
}

.containerInput {
  display: flex;
  flex-direction: row;
}

.inputComment {
  font-size: 16px;
  padding: 10px;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 8px;
  outline: none;
}

.donateBtn, .centerIconSend {
  display: grid;
  place-content: center;
}

.centerDonate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circleDonatBtn {
  display: grid;
  place-content: center;
  padding: 5px;
  /* background: #fff; */
  border-radius: 50%;
  cursor: pointer;
}
