.selectContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    width: 90%;
    margin-left: 5%;
    z-index: 9999;
}

.centerSelect {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.centerSelect p {
    display: grid;
    place-content: center;
}