@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

/* body {
	background: #E0F9DF;
} */
