.containerPage {
  margin-top: 5em;
}

.titleHeader {
  font-size: 40px;
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #b04242;
  margin-bottom: 1rem;
  font-weight: 700;
}

.mapBox {
  width: 90%;
  margin-left: 5%;
  /* background: #dcdcdc; */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mapContainer {
  flex-basis: 400px;
  flex-grow: 1;
}

.mapDiv {
  flex-basis: 400px;
  flex-grow: 1;
}

.btnMoreTravel {
  display: grid;
  place-content: center;
}

.centerBtnMore {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px 5px 10px;
  background: #e5e5e5;
  border-radius: 1em;
  cursor: pointer;
}

.centerBtnMore:hover {
  background: #d4d4d4;
}

.chvronBox {
  display: grid;
  place-content: center;
}


@media screen and (max-width: 900px) {
  .mapBox {
    width: 100%;
    margin: 0;
  }

  .titleHeader {
    font-size: 17px;
  }
}