.postBlog {
  width: 90%;
  box-sizing: content-box;
  border-radius: 1em;
  margin-left: 5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-top: 2em;
  padding: 10px;
  background: #fafafa;
}

.titlePost {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 10px;
}

.infoPost {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.infoLocation {
  display: flex;
  flex-direction: row;
  /* gap: 3px; */
  margin-right: 10px;
}

.iconBoxLocation {
  display: grid;
  place-content: center;
}

.locationIcon {
  color: slategrey;
}

.nameCountry {
  display: grid;
  place-content: center;
}

.infoAuthor {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 1em;
}

.nameAuthor {
  display: grid;
  place-content: center;
  font-weight: 300;
  font-size: 18px;
}

.date {
  display: grid;
  place-content: center;
  font-size: 12px;
}

.interactions {
  margin-top: 0.7em;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.containerLike {
  display: flex;
  flex-direction: row;
}

.containerLike p {
  display: grid;
  place-content: center;
}

.likeBtnActive {
  cursor: pointer;
  color: red;
}

.likeBtnDefault {
  cursor: pointer;
}

.shareBtn {
  cursor: pointer;
}

.commentBtn {
  cursor: pointer;
}
