.slider {
  height: 350px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide_track {
  display: flex;
  width: calc(280px * 18);
  animation: scroll 40s linear infinite;
}

/* .slide_track:hover {
      animation-play-state: paused;
  } */

@keyframes scroll {
  0% {
    transform: translateX(calc(-280px * 9));
  }
  100% {
    transform: translateX(0);
  }
}

.slide {
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.img {
  width: 100%;
  height: auto;
  transition: transform 1s; 
  border-radius: 1em;
  cursor: pointer;
}

.img:hover {
  scale: 1.05;
}

/* .slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
} */

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

